# Python Basics

In [1]:
1 + 2

3

In [2]:
4%2

0

In [3]:
5//2

2

In [4]:
4/2

2.0

In [5]:
5/2

2.5

In [7]:
#BODMAS
5+3*2

11

In [8]:
(5+3)*2

16

In [9]:
type(4/2)

float

In [10]:
type(2)

int

In [11]:
type(2.5)

float

In [12]:
type('k')

str

In [15]:
a=10
b=20
c=a+b

In [13]:
type('anant')

str

In [16]:
type(c)

int

In [17]:
c

30

In [19]:
True

True

In [21]:
# BOOLEAN Operation
True or False

True

In [22]:
True and False

False

In [23]:
True and True

True

In [24]:
type(True and False)

bool

In [27]:
#Bitwise and Logocal
True | False

True

In [26]:
True & False

False

In [30]:
a=10
b=20
a+b>30 or a-b<10

True

# Strings

In [32]:
type('anant')

str

In [33]:
type('a')

str

In [34]:
type('Anksh is a good boy')

str

In [35]:
'Aksh is a good boy'

'Aksh is a good boy'

In [36]:
"Aksh is a good boy"

'Aksh is a good boy'

In [9]:
str1 = 'Aksh is a good boy'

In [10]:
str1

'Aksh is a good boy'

In [11]:
## Typecasting ##Shift+Tab
str(1)

'1'

In [12]:
str

str

In [13]:
## Never use reserved keywords 
##str = 'Aksh is a good boy'

In [14]:
print(str1)

Aksh is a good boy

In [16]:
str1 = "a good boy"
str2 = "a bad boy"

In [18]:
print(str1)
print(str2)

a good boy
a bad boy

In [19]:
str1+str2

'a good boya bad boy'

In [20]:
str1+ " " + str2

'a good boy a bad boy'

In [ ]:
$str1 = "a good boy"
str2 = "a bad boy"

# User Input

In [21]:

name=input("Enter your name?")
print(name)a

Enter your name?Anant Patel
Anant Patel

In [25]:
a = input("Enter number 1?")
b = input("Enter number 2?")
c = a + b
print("The output is ",c)

Enter number 1?23
Enter number 2?34
The output is  2334

In [24]:
a = float(input("Enter number 1?"))
b = float(input("Enter number 2?"))
c = a + b
print("The output is ", c)

Enter number 1?23
Enter number 2?34
The output is  57.0

In [28]:
## String Formating
first_name = input("What is your first name?")
last_name = input("What is your last name?")
print("Welcome to iNeron Course",first_name,last_name)

What is your first name?Anant
What is your last name?Patel
Welcome to iNeron Course Anant Patel

In [30]:
## Placeholder
first_name = input("What is your first name?")
last_name = input("What is your last name?")
print("My first name is {} and last name is {}".format(first_name,last_name))

What is your first name?Anant
What is your last name?Patel
My first name is Anant and last name is Patel

In [31]:
first_name = input("What is your first name?")
last_name = input("What is your last name?")
print("My first name is {fname} and last name is {lname}".format(lname=last_name,fname=first_name))

What is your first name?Anant
What is your last name?Patel
My first name is Anant and last name is Patel

# Variable Dynamic Typing

In [33]:
a=10.0
type(a)

float

In [35]:
# Strong Typing
'Krish' + str(1)

'Krish1'

In [38]:
# Strong Typing
1 + int("2")

3

Conditional Statements

In [44]:
#if and elif
a = int(input("Enter the number1?"))
b = int(input("Enter the number2?"))
c = a-b
print("The output is ",c)
if c<0:
    print("The number is negative")
elif c>40:
    print("The difference is huge")
else:
    print("The number is positive")

Enter the number1?86
Enter the number2?45
The output is  41
The difference is huge

###Data Structures
1. list
2. tuple
3. string
4. Dictionary
5. Sets

In [45]:
lst = [1,2,3,"Anant","Aksh"]

In [46]:
lst

[1, 2, 3, 'Anant', 'Aksh']

In [47]:
lst[1]

2

In [48]:
lst[4]

'Aksh'

In [50]:
type(lst[1])

int

In [51]:
type(lst)

list

In [55]:
lst.append("Ineuron")

In [56]:
lst

[1, 2, 3, 'Anant', 'Aksh', 'Ineuron']

In [57]:
lst.append("Aksh")
lst.append("Aksh")
lst.append("Aksh")

In [58]:
lst

[1, 2, 3, 'Anant', 'Aksh', 'Ineuron', 'Aksh', 'Aksh', 'Aksh']

In [61]:
lst.count(4)

0

In [62]:
#Indexing
str1 = "Aksh"
str1[3] = 'k'

TypeError: 'str' object does not support item assignment

In [63]:
## String is immutable. item assignment is not allowed with strings